<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748007732162-20hnc1u6qmn35avunaidj44p43o6g4s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748007732162-20hnc1u6qmn35avunaidj44p43o6g4s7</string>
	<key>API_KEY</key>
	<string>AIzaSyCFGeVdzEh6ZPKClV_0in0xHHX-0NtqGQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>748007732162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.actingweb.firstapp</string>
	<key>PROJECT_ID</key>
	<string>actingweb-firstapp</string>
	<key>STORAGE_BUCKET</key>
	<string>actingweb-firstapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748007732162:ios:b662cf09a8209a8b785c5b</string>
	<key>DATABASE_URL</key>
	<string>https://actingweb-firstapp.firebaseio.com</string>
</dict>
</plist>